
<div class="strib-styles ssa ssb ssc">
    <div class="atop">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How Minnesota helps keep Klobuchar's campaign afloat</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p> 
      <div class="article-dateline"><time pubdate datetime="2019-03-03T16:00:00">September 15, 2019</time></div>
    </section>

    <p></p>

    <!-- share --> 

    <section class="container-lg leadin scroller" id="step0">

    </section>

    <section class="container-lg scroller" id="step1">

    </section>

    <section class="container-lg scroller" id="step2">

    </section>

    <section class="container-lg scroller" id="step3">

    </section>

    <section class="container-lg scroller" id="step4">

    </section>

    <section class="container-lg scroller" id="step5">

    </section>
  
    <section class="container-lg scroller" id="step6">

    </section>

    <section class="container-lg scroller" id="step7">

    </section>

    <section class="container-lg">
      <div class="article-author-contact">
          <div class="article-author-hcard">
              <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
              <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minnesota has helped keep Klobuchar in the presidential race" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
              <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
              <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
     </div>
    </section>
  </div>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
